<%= form_with model: character do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% character.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div data-controller="showstats">
    <div>
      <%= form.label :character_class_id %><br>
      <%= form.collection_select :character_class_id, CharacterClass.where('status' => 'approved'), :id, :name, {prompt: "Select character"}, data: {showstats_target: "input", action: "change->showstats#toggle"} %>
      <% character.errors.full_messages_for(:character_class_id).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div data-showstats-target="output">
      Stats go here
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
