<%= form_with model: character_class do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% character_class.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :strength %><br>
    <%= form.text_field :strength %>
    <% character_class.errors.full_messages_for(:strength).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :dexterity %><br>
    <%= form.text_field :dexterity %>
    <% character_class.errors.full_messages_for(:dexterity).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :charisma %><br>
    <%= form.text_field :charisma %>
    <% character_class.errors.full_messages_for(:charisma).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :intelligence %><br>
    <%= form.text_field :intelligence %>
    <% character_class.errors.full_messages_for(:intelligence).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :wisdom %><br>
    <%= form.text_field :wisdom %>
    <% character_class.errors.full_messages_for(:wisdom).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= form.select :status, ['approved', 'pending'] %>
  <% else %>
    <%= form.hidden_field :status, value: 'pending' %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
